@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-logo-blue: #00a6e9;
  --color-logo-dark-blue: #0f204f;
  --color-alabaster: #f8f6f2;
  --color-isabel: #edeae8;
  --color-snow: #fffbff;

  --breakpoint-bento-grid: 69.5rem;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  
  --shadow-color: 240deg 5% 15%;
  --shadow-elevation-low:
    0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.44),
    0.6px 1.2px 1.5px -2.5px hsl(var(--shadow-color) / 0.44);
  --shadow-elevation-medium:
    0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.61),
    3.1px 6.1px 7.7px -2.5px hsl(var(--shadow-color) / 0.61);
  --shadow-elevation-high:
    0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.76),
    3.2px 6.4px 8px -1.2px hsl(var(--shadow-color) / 0.76),
    14.3px 28px 35.4px -2.5px hsl(var(--shadow-color) / 0.76);
  
}

.breakout {
  width: 100%;         /* Full viewport width */
  position: relative;
  
}

.default-margin {
  @apply mx-auto w-full px-8;
}

@media (min-width: 1112px) {
  .default-margin {
    @apply w-[1112px];
  }
}

.default-margin-lg {
  @apply mx-auto w-full;
}

@media (min-width: 1440px) {
  .default-margin-lg {
    @apply w-[1440px];
  }
}


.cell-hover {
  transform: translate(0px,0px) scale(100%);
  box-shadow: none;
  transition: all 100ms ease-in-out;
}

.cell-hover:hover {
  transform: translate(-5px,-10px) scale(103%);
  box-shadow: 
  var(--shadow-elevation-medium)
  ;
  transition: all 100ms ease-in-out;
}


.cell-hover:hover .hero_bg {
  transform: scale(100%);
  transition: all 100ms ease-in-out;
}

.cell-hover:hover .hero_subject {
  transform: scale(133%) translateY(-2%);
  transition: all 100ms ease-in-out;
}

.hero_bg {
  transform: scale(140%);
  transition: all 100ms ease-in-out;
}

.hero_subject {
  transform: scale(100%);
  transition: all 100ms ease-in-out;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
